<h1>Show Stars</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Show ID</th>
            <th>Star ID</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the star_id, show_id }}
        {{#each Show_Stars}}
        <tr>
            <td>{{this.star_id}}</td>
            <td>{{this.show_id}}</td>
            

            {{! DELETE form }}
            <form id='delete_show_stars_form'>
                <input type='hidden' name='delete_star_id' value='{{this.star_id}}' />
                <input type='hidden' name='delete_show_id' value='{{this.show_id}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>


{{! CREATE form }}
<h2>Show Stars</h2>
<form class='cuForm' id='create_show_stars_form'>

    <label for='create_show_stars_star_id'>Star id: </label>
    <select name='create_show_stars_star_id' id='create_show_stars_satr_id'>
        <option value='NULL' selected>Select a Star name</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Stars}}
        <option value='{{this.star_id}}' required>{{this.name}}</option>
        {{/each}}
    </select>


    <label for='create_show_stars_show_id'>Show id: </label>
    <select name='create_show_stars_show_id' id='create_show_stars_show_id'>
        <option value='NULL' selected>Select a Title</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Shows}}
        <option value='{{this.show_id}}' required>{{this.title}}</option>
        {{/each}}
    </select>
   
    <input type='submit' />
</form>


{{! UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_show_stars_form'>
    <label for='update_show_stars_star_id'>Star id: </label>
    <select name='update_show_stars_star_id' id='update_show_stars_star_id'>
        <option value='NULL' selected>Select a Star name</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Stars}}
        <option value='{{this.star_id}}' required>{{this.name}}</option>
        {{/each}}
    </select>


    <label for='update_show_show_stars_id'>Show id: </label>
    <select name='update_show_show_stars_id' id='update_show_stars_show_id'>
        <option value='NULL' selected>Select a Title</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each Shows}}
        <option value='{{this.show_id}}' required>{{this.title}}</option>
        {{/each}}
    </select>
    

    <input type='submit' />
</form>