<h1>Shows</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each Shows.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each Shows}}
        <tr>
            <td>{{this.show_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.date}}</td>


            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_show_id' value='{{this.show_id}}' />
                <input type='hidden' name='delete_title' value='{{this.title}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Show</h2>
<form class='cuForm' id='create_show_form'>

    <label for='create_show_title'>Title: </label>
    <input type='text' name='create_show_title' id='create_show_title' min='0' />

    <label for='create_show_date'>Date: </label>
    <input type='text' name='create_show_date' id='create_show_date'/>
   
    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Shows</h2>
<form class='cuForm' id='update_show_form'>
    <label for='update_show_id'>Show to Update: </label>
    <select name='update_show_id' id='update_show_id' required>
        <option value='' disabled selected>Select a Show</option>
        {{#each people}}
        <option value='{{this.id}}' required>
            {{this.id}}
            -
            {{this.title}}
        </option>
        {{/each}}
    </select>


    <label for='update_show_title'>Title: </label>
    <input type='text' name='update_show_title' id='update_show_title' min='0' />

    <label for='update_show_date'>Date: </label>
    <input type='text' name='update_show_date' id='update_show_date'/>

    

    <input type='submit' />
</form>
