<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each Customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the customer_id, name, phone_number and email }}
        {{#each Customers}}
        <tr>
            <td>{{this.customer_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phone_number}}</td>
            <td>{{this.email}}</td>


            {{! DELETE form }}
            <form id='delete_customer_form' method='POST' action='/Customers/delete'>
            
                <input type='hidden' name='delete_customer_id' value='{{this.customer_id}}' />
                <input type='hidden' name='delete_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Customer</h2>
<form class='cuForm' id='create_customer_form' method='POST' action='/Customers/create'>
    <label for='create_customer_name'>Name: </label>
    <input type='text' name='create_customer_name' id='create_customer_name' required />

    <label for='create_customer_phone_number'>phone_number: </label>
    <input type='text' name='create_customer_phone_number' id='create_customer_phone_number'/>

    <label for='create_customer_email'>Email: </label>
    <input type='text' name='create_customer_email' id='create_customer_email' min='0' required />

   
    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a customer</h2>
<form class='cuForm' id='update_customer_form' method='POST' action='/Customers/update'>
    <label for='update_customer_id'>customer to Update: </label>
    <select name='update_customer_id' id='update_customer_id' required>
        <option value='' disabled selected>Select a customer</option>
        {{#each Customers}}
        <option value='{{this.customer_id}}' required>
            {{this.customer_id}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_customer_name'>Name: </label>
    <input type='text' name='update_customer_name' id='update_customer_name' required />

    <label for='update_customer_phone_number'>phone_number: </label>
    <input type='text' name='update_customer_phone_number' id='update_customer_phone_number'/>

    <label for='update_customer_email'>Email: </label>
    <input type='text' name='update_customer_email' id='update_customer_email' min='0' />

    <input type='submit' />
</form>
