<h1>Show Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each Show_Customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the show_id, customer_id}}
        {{#each Show_Customers}}
        <tr>
            <td>{{this.show_id}}</td>
            <td>{{this.customer_id}}</td>
            

            {{! DELETE form }}
            <form id='delete_show_customers_form' method='POST' action='/Show_Customers/delete'>
                <input type='hidden' name='delete_show_id' value='{{this.show_id}}' />
                <input type='hidden' name='delete_customer_id' value='{{this.customer_id}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Show Customers</h2>
<form class='cuForm' id='create_show_customers_form'>

    <label for='create_show_customers_customer_id'>Customer id: </label>
    <select name='create_show_customers_customer_id' id='create_show_customers_customer_id' required>
        <option value='' disabled selected>Select a customer</option>
        {{#each Customers}}
        <option value='{{this.customer_id}}'>
            {{this.customer_id}}
        </option>
        {{/each}}
    </select>


    <label for='create_show_customers_show_id'>Show id: </label>
    <select name='create_show_customers_show_id' id='create_show_customers_show_id' required>
        <option value='' disabled selected>Select a show</option>
        {{#each Shows}}
        <option value='{{this.show_id}}'>
            {{this.show_id}}
        </option>
        {{/each}}
    </select>
   
    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update</h2>
<form class='cuForm' id='update_show_customer_form'  method='POST' action='/Show_Customers/update'>
    <label for='update_show_customers_customer_id'>Customer id: </label>
    <select name='update_show_customers_customer_id' id='update_show_customers_customer_id'>
        <option value='' disabled selected>Select a customer</option>
        {{#each Customers}}
        <option value='{{this.customer_id}}'>
            {{this.customer_id}}
        </option>
        {{/each}}
    </select>


    <label for='update_show_customers_show_id'>Show id: </label>
    <select name='update_show_customers_show_id' id='update_show_customers_show_id'>
        <option value='' disabled selected>Select a show</option>
        {{#each Shows}}
        <option value='{{this.show_id}}'>
            {{this.show_id}}
        </option>
        {{/each}}
    </select>
    

    <input type='submit' />
</form>